*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img.jpeg') no-repeat center center;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}
.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    padding : 10px; 
    /* fi not then change padding */
    width: 100%;
    display: flex;
    gap: 18px;
    background-color: black;
    /* background: transparent; */
}

.navbar a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.3s ease;
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #FFD166;
}

.wrapper{
    width: min(90%,420px);
    max-height: 90vh;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.2);    
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 10px;
    padding: 20px 30px;
}
.wrapper_1{
    width: min(90%,420px);
    max-height: 90vh;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.2);    
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: 10px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper_1 h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}
.wrapper_1 .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding : 20px 45px 20px 20px
}

.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    margin: -15px 0 15px;
    justify-content: space-between;
    font-size: 15px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 55px;

    background: linear-gradient(
        135deg,
        #F4A261,
        #E76F51
    );

    border: none;
    border-radius: 40px;

    color: white;
    font-size: 22px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.3s ease;
}
.wrapper_1 .btn {
    width: 100%;
    height: 55px;

    background: linear-gradient(
        135deg,
        #F4A261,
        #E76F51
    );

    border: none;
    border-radius: 40px;

    color: white;
    font-size: 22px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.3s ease;
}

.wrapper .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(244, 162, 97, 0.4);
}
.wrapper_1 .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(244, 162, 97, 0.4);
}

.wrapper .register_link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;  
}
.wrapper_1 .register_link{
    font-size: 15px;
    text-align: center;
    margin: 10px 7.5px;  
}
.register_link p a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.register_link p a:hover{
    text-decoration: underline;
}
    @media (max-width: 360px){
    .wrapper{
        width: 100%;
        height: 100vh;
    }
}
@media (max-width: 600px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;   
        justify-content: center;
        gap: 10px;
       
    }

    .navbar a {
        font-size: 14px;
        padding: 5px 10px;
    }
}
#errorMessage {
    color: #ff6b6b;
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
}
#successMessage{
    color:#4CAF50;
    text-align:center;
    margin:10px 0;
    font-size:14px;
    font-weight:600;
}